
    <ol class="breadcrumb" id="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Users</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Data Table 
            <button id='addBtn' class="btn btn-primary float-right" data-toggle="modal" data-target="#adduserModal" ><i class="fa fa-plus"></i></button> 
            <button id='addBtn' class="btn btn-primary float-right" data-toggle="modal" data-target="#importuserModal" >Import Csv</button> 
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th class="text-center" >ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center" width="15%">Remove</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center" width="15%">Remove</th>
                </tr>
                </tfoot>
                <tbody>

                {{#each users as |user userId| }}
                    <tr >
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td width="15%" class= "text-center" > 
                            <span><button id="{{user.id}}" class="btn btn-danger btn-rounded btn-sm removeUsers" >Remove</button> </span>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>