<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vote Pages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .space {
            height: 50px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-sm-6">
                <h3>Chủ đề tuần này</h3>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-sm-6">
                <h4> <i>{{title}}</i></h4>
            </div>
        </div>
        <div class="row space"></div>
        <div class="row justify-content-md-center">
            <div class="col-sm-6">
                <span class="anchor" id="formLogin"></span>
                <!-- form card login -->
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0">Bình chọn</h3>
                    </div>
                    <div class="card-body">
                        <form autocomplete="off" class="form" id="formLogin" name="formLogin" role="form">
                            <div class="form-group">
                                <label for="uname1">Tên của bạn</label>
                                <input class="form-control" id="uname1" name="uname1" required="" type="text"
                                    placeholder="Vui lòng nhập id của bạn..." data-provide="typeahead"
                                    autocomplete="off">

                            </div>
                            <div class="form-group">
                                <label for="team1">Lựa chọn team</label>
                                <select class="custom-select" id="team1">
                                        <option selected>Choose...</option>
                                        <option value="1">Team đồng ý</option>
                                        <option value="2">Team phản đối</option>
                                </select>
                            </div>
                            <button class="btn btn-success float-right" type="button" id="submitBtn">Xác nhận</button>
                        </form>
                    </div>
                    <!--/card-block-->
                </div><!-- /form card login -->
            </div>
        </div>
    </div>
    <!-- <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Copyright @ sunado 2019</span>
        </div>
    </footer> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>


    <script>

        function doVote(user,team) {
            
        }

        $(document).ready(function () {
            //TODO add all user name
            var data = [ ""
            {{#each users as |user userId| }} 
                ,"{{user.id}}"
            {{/each}}
            ];
            $("#uname1").typeahead({ 
                source: data
            });

            $("#submitBtn").click(() => {
                
                // Get a reference to the database service
                const username = $("#uname1").val()
                const voteNum = $("#team1").val()
                if(username === ""){
                    alert("Bạn vui lòng điền tên!");
                    return;
                }
                if(data.indexOf(username) == -1){
                    alert("Bạn vui lòng chọn đúng tên!");
                    return;
                }

                if(voteNum != 1 && voteNum != 2){
                    alert("Bạn vui lòng chọn team");
                }

                console.log("Clicked " + username + " " + voteNum );

                $.post('/vote',{
                    userid: username,
                    voteNum: voteNum
                }).done( (res) => {
                    if(res.error){
                       alert(res.error);
                    } else {
                       alert("Bình chọn thành công");
                    }
                });
            });
        });

    </script>
</body>

</html>